[Desktop Entry]
Version=1.0
Name=Knotcoin Core
Comment=Connect to the Knotcoin P2P Network
Comment[de]=Verbinde mit dem Knotcoin peer-to-peer Netzwerk
Comment[fr]=Knotcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Knotcoin, eşten eşe kriptografik sanal para birimi
Exec=knotcoin-qt %u
Terminal=false
Type=Application
Icon=knotcoin128
MimeType=x-scheme-handler/knotcoin;
Categories=Office;Finance;
StartupWMClass=Knotcoin-qt
