policy_module(knotcoin, 1.100.1)

########################################
#
# Declarations
#

type knotcoin_t;
type knotcoin_exec_t;
init_daemon_domain(knotcoin_t, knotcoin_exec_t)

permissive knotcoin_t;

type knotcoin_initrc_exec_t;
init_script_file(knotcoin_initrc_exec_t)

type knotcoin_conf_t;
files_type(knotcoin_conf_t)

type knotcoin_var_lib_t;
files_type(knotcoin_var_lib_t)

type knotcoin_var_run_t;
files_type(knotcoin_var_run_t)

type knotcoin_port_t;
corenet_port(knotcoin_port_t)

########################################
#
# knotcoin local policy
#
allow knotcoin_t self:process { fork };

allow knotcoin_t self:fifo_file rw_fifo_file_perms;
allow knotcoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(knotcoin_t, knotcoin_conf_t, knotcoin_conf_t)
manage_files_pattern(knotcoin_t, knotcoin_conf_t, knotcoin_conf_t)

manage_dirs_pattern(knotcoin_t, knotcoin_var_lib_t, knotcoin_var_lib_t)
manage_files_pattern(knotcoin_t, knotcoin_var_lib_t, knotcoin_var_lib_t)
files_var_lib_filetrans(knotcoin_t, knotcoin_var_lib_t, { dir file })

manage_dirs_pattern(knotcoin_t, knotcoin_var_run_t, knotcoin_var_run_t)
manage_files_pattern(knotcoin_t, knotcoin_var_run_t, knotcoin_var_run_t)

sysnet_dns_name_resolve(knotcoin_t)
corenet_all_recvfrom_unlabeled(knotcoin_t)

allow knotcoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(knotcoin_t)
corenet_tcp_sendrecv_generic_node(knotcoin_t)
corenet_tcp_sendrecv_all_ports(knotcoin_t)
corenet_tcp_bind_generic_node(knotcoin_t)

gen_require(`
    type knotcoin_port_t;
')
allow knotcoin_t knotcoin_port_t:tcp_socket name_bind;

gen_require(`
    type knotcoin_port_t;
')
allow knotcoin_t knotcoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(knotcoin_t)

files_read_etc_files(knotcoin_t)

miscfiles_read_localization(knotcoin_t)

sysnet_dns_name_resolve(knotcoin_t)

allow knotcoin_t knotcoin_exec_t:file execute_no_trans;
allow knotcoin_t self:process setsched;
corecmd_exec_ls(knotcoin_t)
corenet_tcp_connect_http_port(knotcoin_t)
dev_read_urand(knotcoin_t)
fs_getattr_xattr_fs(knotcoin_t)
kernel_read_system_state(knotcoin_t)
