# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit knotcoind.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/knotcoin/knotcoin.conf

[Unit]
Description=Knotcoin daemon
After=network.target

[Service]
ExecStart=/usr/bin/knotcoind -daemon -conf=/etc/knotcoin/knotcoin.conf -pid=/run/knotcoind/knotcoind.pid
# Creates /run/knotcoind owned by knotcoin
RuntimeDirectory=knotcoind
User=knotcoin
Type=forking
PIDFile=/run/knotcoind/knotcoind.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
